name: CI
on:
  push

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout 
        uses: actions/checkout@v5
      - name: Установка golang
        uses: actions/setup-go@v6
        with:
          go-version:  '^1.24.6'
      - name: Установка зависимостей
        run: go mod tidy && go mod download
      - name: Запуск тестов
        run: go test ./...
